[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=NVIDIA Prime
Comment=NVIDIA Prime switcher
Exec=nvidia-prime-ui
Icon=nvidia-prime.png
Categories=Application;System;Settings;

